@model CodeGenerator.Models.TableViewModel;
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Code Generator</h1>
    <p>DDD 设计模式中的自动代码生成程序.</p>
    <br />
    <p>加载包含要生成的表的 .csv 文件.</p>
    <div>
        <div class="form-body">
            <div class="row">
                <div class="form-holder">
                    <div class="form-content">
                        <div class="form-items">
                            <form asp-action="Index" enctype="multipart/form-data" asp-controller="Home" class="requires-validation" method="post" novalidate>
                                <div class="row col-md-12 mt-1">
                                    <div class="col-md-10">
                                       <input class="form-control" type="file" name="file" placeholder="Arquivo do banco de dados." required>
                                       <div class="valid-feedback">无效的文件</div>
                                       <div class="invalid-feedback">文件必须完成</div>
                                    </div> 
                                    <div class="col-md-2">
                                        <button id="carregarTablesButton" type="submit" class="btn btn-primary">加载表</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

